.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wholecontainer {
  position: relative;
  height: 370px;
  width: 345px;
  padding: 40px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgb(184, 213, 174);
  z-index: 2;
}
.tBox {
  width: 80%;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 6px 20px;
  margin-bottom: 5px;
}

.tBoxs{
  width: 93.5 %;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 6px 20px;
  margin-bottom: 5px;
}
.textbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addIcon {
  width: 50%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;

  background-color: lightgreen;
  border-radius: 20px;
}
.closeIcon {
  width: 50%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: rgb(221, 49, 49);
  border-radius: 20px;
}

.closeIcon :hover {
  background-color: red;
  cursor: pointer;
  border-radius: 20px;
}
.addIcon :hover {
  background-color: green;
  cursor: pointer;
  border-radius: 20px;
}

.placeholder{
  color: lightgray;
}